.amarelo{
    background-color: yellow;
}
.back{
    background-color: yellow;
}
.all{ text-align: center;
   
   

}
.amerelo2{ background-color: yellow; 
   

}
.produto-desc{
    background-color: yellow;
    border: 1px;
    width: 100px;
   display: inline;
   border: 200px;
}
.img{ background-color: grey;
    border-radius: 2px;

}